main {
  width: 80%;
  margin: 0 auto;
}

aside {
  width: 80%;
  margin: 20px auto;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f4f4f4;
  color: #333;
}

aside img {
  width: 200px;
  height: auto;
}

main img {
  width: 150px;
  height: auto;
}

p {
  padding: 0;
}
footer {
  margin-top: 20px;
  border-top: 2px solid #ccc;
  text-align: center;
}
